    {% extends 'base.html' %}

    {% block conteudo %}

	<title>Tela 4</title>

	<section id="novo">
		<form action="/telad" method="POST">

			<h1>Poste de iluminação</h1>

            <fieldset>
				<div class="container">
					<input type="text" maxlength="50" id="codigo" name="codigo" value="PI-II Poste=0001" readonly>
				<!--	<label>Código</label> -->
					<label class="ficaemcima">Código</label>
				</div>
			</fieldset>

			<fieldset>
				<div class="container">
					<input type="text" maxlength="50" id="nome" name="nome" required autofocus>
					<label>Insira seu Nome</label>
				</div>
			</fieldset>

			<fieldset>
				<div class="container">
					<input type="text" maxlength="14" id="cpf" name="cpf" required>
					<label>Insira seu CPF</label>
				</div>
			</fieldset>

            <fieldset>
				<div class="container">
					<input type="text" maxlength="50" id="telefone" name="telefone" required>
					<label>Insira seu Telefone</label>
				</div>
			</fieldset>

			<fieldset>
				<div class="container">
					<input type="text" maxlength="50" id="email" name="email" required>
					<label>Insira seu E-mail</label>
				</div>
			</fieldset>

            <fieldset>
                <div class="container">
                    <input type="text" maxlength="300" id="descricao" name="descricao" required>
					<label>Descreva o problema</label>
                </div>
			</fieldset>

			<a><button type="submit" onclick="mudaTela4()">ENVIAR</button></a>
			<a><button class="vermelho" type="button" onclick="mudaTelaC()">CANCELAR</button></a>

			<p class="dev">Site criado para Projeto Integrador II - Univesp &copy
				Polos: Bertioga/Queluz/São Bernardo do Campo</p>
		</form>
	</section>

    {% endblock %}
